*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

td{
    border: 2px solid black;
    padding: 40px;
}

table{
    width: 1000px;
    height: 300px;
}

td{
    height: 50px;
    font-size: 30px;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
